{ 
  "extends": "airbnb/base",
  "rules": {
    "no-underscore-dangle" : "off",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["doc"] }],
	"no-plusplus": "off"
  }
}